<h2 class="text-center"> Record your new height and weight </h2>

<%= form_tag("/observations", method: "post") do |f|%>
  <%= label_tag(:height, "Height (cm):") %>
  <%= number_field_tag(:height) %>
  <br>
  <%= label_tag(:weight, "Weight (kg):") %>
  <%= number_field_tag(:weight) %>
  <%= submit_tag("Submit") %>
<% end %>
