<div class="landing-head">

	<div class="container">
<h2 class="text-center"> Basic info </h2>

<h4> Patient: </h4>
<ul>
      <li><strong> Name: </strong> <%= "#{@current_user.firstname} #{@current_user.lastname}" %></li>
      <br>
      <li><strong> Email: </strong> <%= @current_user.email %></li>
      <br>
      <li><strong> Gender: </strong> <%= @current_user.gender %></li>
      <br>
      <li><strong> Birthday: </strong> <%= @current_user.birthday.try(:to_date).try(:to_s) %></li>
      <br>

      <li><strong> State: </strong> <%= @current_user.state %></li>
</ul>
<% if @height_info && @height_info['total'] > 0 %>
  <h4> Height: </h4>
  <ul>
      <li><strong> Measurement: </strong> <%= @height_info['entry'].last['resource']['valueQuantity']['value'] %>
      <strong><%= @height_info['entry'].last['resource']['valueQuantity']['units'] %> </strong></li>
  <br>
      <li><strong> Time of Measurement: </strong>
  <%= DateTime.parse(@height_info['entry'].last['resource']['appliesDateTime']).to_date.to_s %></li>
  <br>
<% end %>
</ul>

<% if @weight_info && @weight_info['total'] > 0 %>
  <h4> Weight: </h4>
  <ul>
      <li><strong> Measurement: </strong> <%= @weight_info['entry'].last['resource']['valueQuantity']['value'] %>
  <strong><%= @weight_info['entry'].last['resource']['valueQuantity']['units'] %> </strong></li>
  <br>
      <li><strong> Time of Measurement: </strong>
  <%= DateTime.parse(@weight_info['entry'].last['resource']['appliesDateTime']).to_date.to_s %></li>
  <br>
<% end %>
</ul>

<% if @bmi_info && @bmi_info['total'] > 0 %>
    <h4> BMI: </h4>
    <ul>
        <li><strong> Measurement: </strong> <%= @bmi_info['entry'].last['resource']['valueQuantity']['value'] %>
        <strong><%= @bmi_info['entry'].last['resource']['valueQuantity']['units'] %> </strong></li>
    <br>
        <li><strong> Time of Measurement: </strong>
    <%= DateTime.parse(@bmi_info['entry'].last['resource']['appliesDateTime']).to_date.to_s %></li>
    <br>
<% end %>
</ul>
<% if @condition_info && @condition_info['total'] > 0 %>
    <h4> Conditions Present: </h4>
    <% @condition_info['entry'].each do |condition| %>
        <ul>
        <li><strong>Condition: </strong> <%= condition['resource']['code']['coding'][0]['display'] %>
        <strong>Onset Date: </strong> <%= DateTime.parse(condition['resource']['onsetDateTime']).to_date.to_s%></li>
        </ul>
    <% end %>
<% end %>
<br>
<%= link_to 'Export as JSON', basic_info_index_path(format: :json) %><br>
<br>
<%= link_to 'Edit', basic_info_edit_path %><br>
	</div>

</div>
